*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*headerデザイン*/
header {
  width: 100%;
  background-color: #EC715F;
  font-size: 16px;

}

.header-menu {
  margin: 0 auto;
  width: 1024px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}

.header-menu > :first-child {
  margin-right: auto;
  display: flex;
}

.nav-toggle {
  display:none;
}


.nav-lists{
  display: flex;
  line-height: 70px;
}

a{
  text-decoration: none;
}

.nav-item {
  padding: 0 30px;
  list-style: none;
  color: #FAFAFA;
}

/*メインヴィジュアルのデザイン*/
.main-visual {
  width: 100%;
  height: 650px;
  color: #FAFAFA;
  background-image: url(img/mv.png);
  background-size: cover;
  text-align: center;
}

.main-visual-name {
  padding-top: 200px;
  font-size: 64px;
}

p{
  font-size: 16px;
  margin-bottom: 5px;
}

.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
}

/*mainデザイン*/
.main:nth-child(odd) {
  background-color: #ECEFF1;

}

.contents {
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.portfolio {
  width: 920px;
}

.feature {
  width: 980px;
}

.profile {
  width: 1024px;
}

.contact {
  width: 800px;
}

.title {
  padding-bottom: 8px;
  font-size: 32px;
}

.title:after{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}

.text{
  padding: 30px 0;

}

.image {
  display: flex;
  flex-wrap: wrap;
}

.image-box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.image-box:nth-child(3n){
  margin-right: 0;
}

.image-box:nth-child(-n+3){
  margin-bottom: 10px;
}

.image-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.image-box:nth-child(2) {
  background-image: url(img/websuku.png);
}

.image-box:nth-child(3) {
  background-image: url(img/write.jpg);
}

.image-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.image-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.image-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

i {
  font-size: 60px;
}

.text-contents {
 display: flex;

}

.text-box {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.text-box:nth-child(3){
  margin-right: 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.text-box h3 {
  margin: 10px 0;
}

.show {
  text-align: left;
  font-size: 16px;
}

.myprofile {
  display: flex;
}

.icon, .profile-item {
  width: 512px;
}

.profile-item {
  text-align: left;
}

.myicon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name {
 margin-bottom: 20px;
}

.contact-item {
  display: flex;
}

.item, .sns {
  width: 400px;

}

.mail, .tel, .sns-icon, .sns h3 {
  margin: 0 auto;
  width: 200px;
  text-align: left;
}

.sns-icon {
  display: flex;

}

.sns-icon i {
  margin-right: 20px;
  font-size: 50px;
}


/*footerデザイン*/
.footer {
  text-align: center;
  line-height: 60px;
  color: #FAFAFA;
  height: 60px;
  background-color: #EC715F;
}

/*レスポンス対応*/
@media screen and (max-width: 767px){
  .header-menu{
    width: 90px;
    height: 50px;
  }


  .btn-burger {
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  
  .burger-icon, .burger-icon:before, .burger-icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 3px;
    background-color: #EC715F;
    border-radius: 2px;
    display: block;
    content: '';
    margin: auto;
  }
  
  

}